// Независимые отделенные страницы, простирались от pages/base/base.pug, поэтому у них есть <html>, <head>, <body>теги. Страница в идеале не должна содержать никаких элементов, кроме импорта различных компонентов. Обычно страница получает некоторые данные из внешних источников (ваш бэкэнд написан на PHP, Python, Ruby и т. Д.), Мы имитируем это с помощью специальной переменной localsв отдельном файле ( activity-data.pugили, home-data.pugнапример) и храним там все поддельные данные (включая все списки, параметры, ссылки на социальные сети и т. д.).

//Все страницы (см. `src/pages/index.pug`) являются расширениями шаблонов из `src/pug` (см. [наследование шаблонов](https://pugjs.org/language/inheritance.html)), в страницах описывается только содержимое «шапки», «подвала» и контентной области (см. [блоки](https://pugjs.org/language/inheritance.html#block-append-prepend)).

