block variables

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    title #{title}
    meta(name="description" content="Анонс, краткая выжимка, отражающая основную суть")
    meta(name="keywords" content="ключевые слова")
  body
    block content