include ../../components/room_details/room_details.pug
include ../../components/date_dropdown/date_dropdown.pug
include ../../components/mixin_dropdown/mixin_dropdown.pug
include ../../components/calc_price/calc_price.pug
include ../../components/buttons/buttons.pug

.total_card
  +room_details({number: "888", price:"9 900", luxe: "люкс"})
  form.total_card_form
    +date_dropdown({label1:"прибытие", label2:"выезд", size: 'small'})
    +dropdown({label: "Гости", local: "guests", value: "Сколько гостей", item1: "Взрослые", item2: "Дети", item3: "Младенцы", buttons: true, clear: "Очистить", close: "Применить"})
    +calc_price({price: "9 990", day:"4"})
    +button({name: 'Забронировать', background: 'full', size: 'large'})
