//Каждый компонент содержит основной .pug файл с шаблоном, .js который динамически загружается в entry.js и содержит все сценарии для компонента (и только для компонента) и .scss файла. .scss должен быть импортирован в .js и содержит один блок БЭМ в корне файлов и все возможные элементы и модификаторы в определении этого блока.

//Каждый блок (в `src/blocks/`) может содержать одноимённый pug-файл с одноименной примесью, который при старте сервера разработки будет взят includ-ом в файл `src/pug/mixins.pug`.