@import "src/_variables";

html {
  box-sizing: border-box
}

html * {
  box-sizing: inherit
}

html *::after,
html *::before {
  box-sizing: inherit
}

body {
  margin: 0;
  position: inherit
}

.iqdropdown {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box
}

.iqdropdown * {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box
}

.iqdropdown *::after,
.iqdropdown *::before {
  box-sizing: inherit
}

.iqdropdown *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.iqdropdown *:focus {
  outline: none
}

.iqdropdown h1,
.iqdropdown h2,
.iqdropdown h3,
.iqdropdown h4,
.iqdropdown h5,
.iqdropdown h6 {
  margin: 0
}

.iqdropdown p {
  margin: 0
}

.iqdropdown ul,
.iqdropdown ol {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.iqdropdown a {
  cursor: pointer
}

.iqdropdown button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0
}

.iqdropdown select::-ms-expand {
  display: none
}

.iqdropdown input::-ms-clear {
  display: none;
  height: 0;
  width: 0
}

.iqdropdown .icon-decrement {
  display: inline-block;
  height: 30px;
  margin: auto;
  min-width: 15px;
  position: relative;
  width: 30px;
}

.iqdropdown .icon-decrement::after {
  color: $color-dark50;
  content: '-';
  display: block;
  height: 15px;
  position: absolute;
  top: 20%;
  left: 25%;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 15px
}

.iqdropdown .icon-increment::after {
  color: $color-dark50;
  content: '+';
  display: block;
  height: 15px;
  position: absolute;
  top: 25%;
  left: 25%;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 15px
}

.iqdropdown .iqdropdown-menu {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px $color-dark5;
  border: 1px solid $color-dark50;
  border-radius: 0 0 4px 4px;
  cursor: default;
  display: none; //-вернуть назад
  left: 0;
  margin: -2px -1px -1px;
  position: absolute;
  right: 0;
  top: 44px;
  transition: all 0.2s ease-in-out;
  z-index: 99999
}

.iqdropdown .iqdropdown-menu-option {
  align-items: center;
  display: flex;
  height: 38px;
  padding: 0 5px 0 15px;
  margin: 0;
}

.iqdropdown .iqdropdown-menu-option:last-child {
  border: 0
}

.iqdropdown-menu-buttons {
  // width: 320px;
  display: flex;
  justify-content: space-between;
  padding: 14px 9px 10px 14px;
}

.iqdropdown .iqdropdown-menu-close {
  @include caption;
  color: $primary-color;
}

.iqdropdown .iqdropdown-menu-clear {
  @include caption;
  color: $color-dark50;
}

.iqdropdown.menu-open .iqdropdown-menu {
  display: block
}

@media only screen and (max-width: 640px) {
  .iqdropdown .iqdropdown-menu.mobile-top-menu {
    top: -285px
  }
}

.iqdropdown-content {
  flex: 1;
  margin-top: 3px;
}

.iqdropdown-item {
  @include caption;

}

.iqdropdown p.iqdropdown-description {
  color: #4A4A4A;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px
}

.iqdropdown .iqdropdown-item-controls {
  display: flex;
  height: 31px;
}

.iqdropdown .iqdropdown-item-controls .counter {
  //-средняя цифра
  @include caption;
  padding: 7px;
  text-align: center;
  width: 30px;
}

.iqdropdown .iqdropdown-item-controls button {
  //-кнопки переключения
  align-items: center;
  display: flex;
  transition: all 0.2s ease-in-out;
  border: 1px solid $color-dark50;
  border-radius: 30px;
}

.iqdropdown {
  align-items: center;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  position: relative;
  height: 40px;
}

.iqdropdown .iqdropdown-selection {
  flex: 1;
  position: relative;
}

.iqdropdown .iqdropdown-selection::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  font-family: 'Material Icons';
  color: $color-dark75;
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 10px;
  width: 12px;
  position: absolute;
  right: 5%;
  top: 20%;

}

.iqdropdown.menu-open {
  border-color: $color-dark25;
}

// .iqdropdown.menu-open .iqdropdown-selection::after {
//   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAMAAABGBS09AAAAe1BMVEVMaXH///+ZmZmqqqqVlZWdnZ2Xl5eVlZWVlZWUlJSQkJCUlJSTk5ORkZGRkZGRkZGSkpKRkZGSkpKSkpKRkZGQkJCRkZGRkZGRkZGQkJCSkpKRkZGRkZGRkZGRkZGRkZGRkZGRkZGQkJCRkZGQkJCRkZGQkJCRkZGQkJAwdLQhAAAAKHRSTlMAAQUGDA0bHSQmNTdHSEpYWV1gbnKIi5SZqqqytcfJzNfZ5uf19fn+jEECQQAAAIhJREFUeNqNj+cSwkAIhLn0Znoz7dLD+z9hII6OJTruH5b9mDuAv2VKaX5BSjojLqlyxi49Huq9D2TVlG/VdaNSWy9Iy1YKOxfA7cismfZAIhopmWJxNPFEzRiJG3NaHs71+6ye8zOtwz7kbxobnmQ3vEBArkAcfHiTPyAWVI0yOTlNTUoDfmoHOBIMkOONx34AAAAASUVORK5CYII=)
// }