@import "src/_variables";

html {
  box-sizing: border-box
}

html * {
  box-sizing: inherit
}

html *::after,
html *::before {
  box-sizing: inherit
}

body {
  margin: 0;
  position: inherit
}

.iqdropdown {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box
}

.iqdropdown * {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box
}

.iqdropdown *::after,
.iqdropdown *::before {
  box-sizing: inherit
}

.iqdropdown *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.iqdropdown *:focus {
  outline: none
}

.iqdropdown h1,
.iqdropdown h2,
.iqdropdown h3,
.iqdropdown h4,
.iqdropdown h5,
.iqdropdown h6 {
  margin: 0
}

.iqdropdown p {
  margin: 0
}

.iqdropdown ul,
.iqdropdown ol {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.iqdropdown a {
  cursor: pointer
}

.iqdropdown button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0
}

.iqdropdown select::-ms-expand {
  display: none
}

.iqdropdown input::-ms-clear {
  display: none;
  height: 0;
  width: 0
}

.iqdropdown .icon-decrement {
  position: absolute;
  height: 2.2rem;
  width: 2.2rem;
}

.iqdropdown .icon-decrement::after {
  color: $color-dark50;
  content: '-';
  position: absolute;
  bottom: 1.65rem;
  right: 2.1rem;
}

.iqdropdown .icon-increment::after {
  color: $color-dark50;
  content: '+';
  position: absolute;
  bottom: 1.7rem;
  right: 1.95rem;
}

.iqdropdown .iqdropdown-menu {
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px $color-dark5;
  border: 1px solid $color-dark50;
  border-radius: 0 0 4px 4px;
  cursor: default;
  display: none; //-вернуть назад
  left: 0;
  margin: -2px -1px -1px;
  padding: 0rem 0.36rem 0.5rem 1rem;

  position: absolute;
  right: 0;
  top: 44px;
  transition: all 0.2s ease-in-out;
  z-index: 99999
}

.iqdropdown_field {
  @include text_input;
  position: relative;
}

.iqdropdown_label {
  @include caption;
}

.iqdropdown .iqdropdown-menu-option {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.iqdropdown .iqdropdown-menu-option:last-child {
  border: 0
}

.iqdropdown-menu-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

}

.iqdropdown .iqdropdown-menu-close,
.iqdropdown .iqdropdown-menu-clear {
  @include caption;
  color: $color-dark50;
  margin: 1.4rem 0 0.36rem 0;

  &:hover {
    color: $primary-color;
  }
}

.iqdropdown.menu-open .iqdropdown-menu {
  display: block
}

@media only screen and (max-width: 640px) {
  .iqdropdown .iqdropdown-menu.mobile-top-menu {
    top: -285px
  }
}

.iqdropdown-content {
  flex: 1;
  margin-top: 3px;
}

.iqdropdown-item {
  @include caption;
}

.iqdropdown p.iqdropdown-description {
  color: #4A4A4A;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px
}

.iqdropdown .iqdropdown-item-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 6.6rem;
}

.iqdropdown .iqdropdown-item-controls .counter {
  //-средняя цифра
  @include caption;
  padding: 0.45rem;
}

.iqdropdown .iqdropdown-item-controls button {
  //-кнопки переключения
  height: 2.14rem;
  width: 2.14rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid $color-dark50;
  border-radius: 2.14rem;
}

.iqdropdown {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;

  &:hover {
    border: 1px solid $color-dark50;
  }

  &-clicked {
    border-radius: 4px 4px 0 0;
  }
}

.iqdropdown .iqdropdown-selection {
  text-transform: none;

}

.iqdropdown .iqdropdown-selection:after {
  font-family: 'Material Icons';
  color: $color-dark50;
  font-size: 1.8rem;
  content: '\e5cf';
  position: absolute;
  left: 90%;
  top: 35%;
}