@import "src/_variables";
@import "../../components/date_dropdown/date_dropdown";
@import "../../components/mixin_dropdown/mixin_dropdown";
@import "../../components/buttons/buttons";


.find_number {
  @include card;
  height: 26.7rem;
  justify-content: space-between;
  padding: 2.8rem 2.1rem 2.14rem;
}

.find_number_title {
  @include title;
  line-height: 2.14rem;
  // margin-bottom: -0.4rem;
}

.find_number_form {
  height: 73%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}