@import 'src/_variables';

.room_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: $color-dark75;

  &__icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 3rem;
    background: $primary-gradient;
    background-clip: text;
    color: transparent;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.6rem;

    &__name {
      font-family: 'Conv_Montserrat-Bold', 'OpenSans-Bold', sans-serif;
      margin-bottom: 0.5rem;
    }

  }
}