mixin room_info(icon, name, desc)
  .room_info
    i(class="room_info__icon")= icon
    .room_info__description
      span(class="room_info__description__name")= name
      span(class="room_info__description__desc")= desc