mixin button(options)
  .form
    .button
      button.button_standart(alt="click me" 
      class="button_standart-"+options.background
      class="button_standart-"+options.background +options.disabled 
      class="button_standart-"+options.size)= options.name

//- +button({name: 'click me', background: 'full'})
//- +button({name: 'click me', background: 'full', disabled: '-disabled'})
//- +button({name: 'click me', background: 'light'})
//- +button({name: 'click me', background: 'light', disabled: '-disabled'})
//- +button({name: 'click me', background: 'simple'})
//- +button({name: 'click me', background: 'simple', disabled: '-disabled'})
//- +button({name: 'перейти к оплате', background: 'full', size: 'large'})