@import "src/_variables";

.button_standart {
  @include caption;
  width: 7.1rem;
  height: 3.1rem;
  border-radius: 1.6rem;
  outline: none;
  border-style: none;
  position: relative;

  &-full {
    color: #ffffff;
    background: $primary-gradient;

    &:hover {
      opacity: 0.5;
    }

    &-disabled {
      opacity: 0.5;
    }
  }

  &-light {
    background: $primary-gradient;
    color: $primary-color;
    z-index: 0;

    &:before {
      content: '';
      padding: 0.85rem;
      text-align: center;
      color: $primary-color;
      position: absolute;
      left: 2px;
      top: 2px;
      width: 95.77%;
      height: 90.32%;
      background: #ffffff;
      border-radius: 1.6rem;
      z-index: -1;
    }

    &:hover {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }

    &-disabled {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }
  }

  &-simple {
    height: 1rem;
    text-align: start;
    background: none;
    color: $primary-color;

    &:hover {
      color: $color-dark50;
    }

    &-disabled {
      color: $color-dark50;
    }
  }

  &-large {
    width: 22.86rem;

    &:before {
      content: '\e5c8';
      color: #fff;
      @include material-icons;
      position: absolute;
      left: 90%;
      top: 35%;
    }
  }

  &-small {
    width: 5.64rem;
    height: 2.43rem;
  }

  &-middle {
    height: 2.43rem;
  }
}