mixin button(options)
  .form
    .button
      button(alt="click me" class="button_origin button_origin-"+options.disabled class="button_origin-"+options.background class="button_origin-"+options.size)= options.name

//- +button({name: 'click me'})
//- +button({name: 'click me', disabled: 'opacity'})
//- +button({background: 'light'})
//- +button({background: 'light', disabled: 'transparent'})
//- +button({name: 'click me', background: 'simple'})
//- +button({name: 'click me', background: 'default'})
//- +button({name: 'перейти к оплате', size: 'large'})