mixin button(options)
  .form
    .button
      button(alt="click me" class="button_origin button_origin-"+options.theme class="button_origin-"+options.background class="button_origin-"+options.size)= options.name

+button({name: 'click me'})
<br/>
+button({name: 'click me', theme: 'opacity'})
<br/>
+button({background: 'light'})
<br/>
+button({background: 'light', theme: 'transparent'})
<br/>
+button({name: 'click me', background: 'simple'})
+button({name: 'click me', background: 'default'})

+button({name: 'перейти к оплате', size: 'large'})