mixin icons_social()
  .icons_social
    a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
      img.icons_social_tw(src="./img/tw.svg")
    a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
      img.icons_social_fb(src="./img/fb.svg")
    a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
      img.icons_social_inst(src="./img/inst.svg")