include ../../components/logo/logo.pug
include ../../components/icons_social/icons_social.pug

.footer_creative
  .footer_creative_content
    +logo()
    .footer_creative_content_text 
      |Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .footer_creative_content_icons    
      +icons_social()