mixin logo_color()
  svg(width="48" height="48")
    linearGradient(id="FirstGradient")
      stop(offset="0%" stop-color="#BC9CFF")
      stop(offset="100%" stop-color="#8BA4F9")
    linearGradient(id="SecondGradient")
      stop(offset="0%" stop-color="#6FCF97")
      stop(offset="100%" stop-color="#66D2EA")
    circle(r="22" cx="24" cy="24" fill="none" stroke="url(#FirstGradient)" stroke-width="3")
    circle(r="20" cx="39" cy="39" fill="none" stroke="url(#SecondGradient)" stroke-width="3" stroke-linecap="round" stroke-dashoffset="14" stroke-dasharray="10 85")
    circle(r="14" cx="10" cy="33" fill="none" stroke="url(#FirstGradient)" stroke-width="3" stroke-linecap="round" stroke-dashoffset="19" stroke-dasharray="17 71")
    circle(r="14" cx="13" cy="31" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-dashoffset="19" stroke-dasharray="17 71")
