mixin like_button(options)
  .like_button
    .like_button_title=options.title
    .like_button_content
      button.like_button_content__button(class="like_button_content__button-"+options.active)=options.count

//- +like_button({title: 'Like button', active: 'liked', count: '0'});