@import "src/_variables";

.rating_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating_reviews {
  margin-left: 1.4rem;

  :first-child {
    font-family: 'Conv_Montserrat-Bold', 'OpenSans-Bold', sans-serif;
    font-weight: bold;
  }
}

.rating_star:not(:checked)>input {
  display: none;
}

.rating_star {
  //-float: right; ?
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  width: 8.5rem;
  height: 1.7rem;
}

.rating_star:not(:checked)>.rating_star_style:before {
  content: '\e83a';
  @include material-icons;
  @include icons_style;
}

.rating_star>.rating_star_style:hover~.rating_star_style:before {
  content: '\e838';
  @include material-icons;
  @include icons_style;
}

.rating_star>.rating_star_style:hover:before {
  content: '\e838';
  @include material-icons;
  @include icons_style;
}

.rating_star>input:checked~.rating_star_style:before {
  content: '\e838';
  @include material-icons;
  @include icons_style;
}

.rating_star_style-active {
  &:before {
    content: '\e838';
    @include material-icons;
    @include icons_style;
  }
}