include ../../components/mixin_dropdown/mixin_dropdown.pug

//- +dropdown({size:"medium", label: "Dropdown", local: "comfort", value: "Удобство номера", item1: "Спальни", item2: "Кровати", item3:"Ванные комнаты"})