include ../../components/mixin_dropdown/mixin_dropdown.pug



+dropdown({content:"text_field__input text_field__input--medium text_field__input-hover", title: "text_field__label", label: "Dropdown", dropdown: "iqdropdown_comfort", value: "Удобство номера", item1: "Спальни", item2: "Кровати", item3:"Ванные комнаты"})

//- size: "text_field__input-medium"

