@import "src/_variables";

.text_field {

  &__title {
    display: flex;
    max-width: 22.9rem;
    flex-direction: row;
    justify-content: space-between;
  }

  &__label {
    @include caption
  }

  &__state {
    @include state;
  }

  &__input {
    @include text_input;
  }
}