@import "src/_variables";

@mixin text_field {

  .text_field__label {
    display: block;
    // width: 320px;
    // height: 67px;
    @include caption
  }

  .text_field__input {
    display: flex;
    width: 22.8rem; //-320px
    height: 3.2rem; //-44px
    margin-top: 0.3rem; //-5px
    background-color: #fff;
    border: 1px solid $color-dark25;
    box-sizing: border-box;
    border-radius: 4px;
    color: $color-dark25;
    font-family: 'Conv_Montserrat-Regular', 'OpenSans', sans-serif;
    font-size: 1rem;
    padding-left: 1rem; //-15px

    &:hover,
    &:focus {
      border: 1px solid $color-dark50;
      color: $color-dark75;
    }
  }
}