mixin text_field(label,type,name,value)
  .text_filed
    label(class="text_field__label")= label
      | 
      input(class="text_field__input text_field__input-hover" type=type name=name value=value)