include ../../components/room_details/room_details.pug
include ../../components/rate_button/rate_button.pug

mixin selection_room(options)
  .selection_room
    .selection_room_slider(class="owl-carousel")
      .selection_room_slider_img
        img(src="./img/" +options.photo1, alt="room")
      .selection_room_slider_img
        img(src="./img/" +options.photo2, alt="room")
      .selection_room_slider_img
        img(src="./img/" +options.photo1, alt="room")
      .selection_room_slider_img
        img(src="./img/" +options.photo2, alt="room")
    .selection_room_details
      +room_details(options)
      hr.selection_room_hr
      +rating(options)


//- +selection_room({photo1: "room888-1.jpg", photo2: "room888-2.jpg", number: "888", price:"9 900", luxe: "люкс", n: [5, 4, 3, 2, 1], rate: '0', reviews: "145"})

//- +selection_room({photo1: "room888-1.jpg", photo2: "room888-2.jpg", number: "840", price:"9 900", n: [5, 4, 3, 2, 1], rate: '1', reviews: "65"})
