extends ../layout/base.pug

block variables
  -var title = "Form Elements"
  
block content
  include ../../components/logo/logo.pug
  .logo
    +logo()
  .group_elements
    <br/>
    <br/>
    include ../../components/filter_date/filter_date.pug
    include ../../components/date_dropdown/date_dropdown.pug
    include ../../components/drop_guests/drop_guests.pug
    include ../../components/drop_comfort/drop_comfort.pug
    include ../../components/comments/comments.pug
    include ../../components/bullet_list/bullet_list.pug
    include ../../components/range_slider/range_slider.pug
    include ../../components/pagination/pagination.pug
    include ../../components/text_field/text_field.pug
    +text_field({label:"text field", state:"default", type: "Email", name:"Email", value:"Email"})

    +text_field({label: "Text Field", state:"Hover / Focus", type: "text", name: "text", value: "This is pretty awesome"})

    +text_field({label: "Masked text field", state:"default", type: "text", name: "text", value:"ДД.ММ.ГГГГ", mask: "mask"})

    include ../../components/subscription_field/subscription_field.pug
    +subscription_field({label: "subscription text field", size: "medium", type:"Email", name: "Email", value: "Email" })

    include ../../components/toggle/toggle.pug
    +toggle({title: "toggle", checked: "checked", text: "Получать спецпредложения"})
    +toggle({text: "Получать спецпредложения"})

    include ../../components/like_button/like_button.pug
    +like_button({title: 'Like button', count: '2'})
    +like_button({active: 'liked', count: '12'})

    include ../../components/rate_button/rate_button.pug
    +rating({n: [5, 4, 3, 2, 1], rate: '1'}) 
    +rating({n: [5, 4, 3, 2, 1], rate: '0'}) 

    include ../../components/checkbox_buttons/checkbox_buttons.pug
    +checkbox_buttons({title: "Checkbox button", num: '3', choice: ["Можно курить","Можно с питомцами","Можно пригласить гостей (до 10 человек)"]})
    
    +checkbox_buttons({title: "Rich checkbox buttons", num: '2', choice: ["Широкий коридор ","Помощник для инвалидов"], style: "caption", lehgth: '1', details: ["Ширина коридоров в номере не менее 91 см.", "На 1 этаже вас встретит специалист и проводит до номера."]})

    include ../../components/radio_buttons/radio_buttons.pug
    include ../../components/room_info/room_info.pug
    +room_info("insert_emoticon","Комфорт","Шумопоглощающие стены")
    +room_info("location_city","Удобство","Окно в каждой из спален")

    include ../../components/buttons/buttons.pug  
    +button({name: 'click me', background: 'full'})
    +button({name: 'click me', background: 'full', disabled: '-disabled'})
    +button({name: 'click me', background: 'light'})
    +button({name: 'click me', background: 'light', disabled: '-disabled'})
    +button({name: 'click me', background: 'simple'})
    +button({name: 'click me', background: 'simple', disabled: '-disabled'})
    +button({name: 'перейти к оплате', background: 'full', size: 'large'})

    include ../../components/expandable_list/expandable_list.pug
    +expandable_list({label: "expandable checkbox list", num: '8', choice: ["Завтрак ", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Телевизор", "Шампунь"]})