extends ../layout/base.pug

block variables
  -var title = "Form Elements"
  
block content
  include ../../components/logo/logo.pug
  .logo
    +logo()
  .group_elements
    include ../../components/text_field/text_field.pug
    +text_field({label:"text field", state:"default", type: "Email", name:"Email", value:"Email"})

    +text_field({label: "Text Field", state:"Hover / Focus", type: "text", name: "text", value: "This is pretty awesome"})
    
    include ../../components/drop_guests/drop_guests.pug
    //- include ../../components/drop_comfort/drop_comfort.pug

    +text_field({label: "Masked text field", state:"default", type: "text", name: "text", value:"ДД.ММ.ГГГГ", mask: "mask"})

    include ../../components/subscription_field/subscription_field.pug
    +subscription_field({label: "subscription text field", size: "medium", type:"Email", name: "Email", value: "Email" })

    include ../../components/toggle/toggle.pug
    +toggle({title: "toggle", checked: "checked", text: "Получать спецпредложения"})
    +toggle({text: "Получать спецпредложения"})

    include ../../components/like_button/like_button.pug
    +like_button({title: 'Like button', count: '2'})
    +like_button({active: 'liked', count: '12'})

    include ../../components/checkbox_buttons/checkbox_buttons.pug
    include ../../components/radio_buttons/radio_buttons.pug
    include ../../components/room_info/room_info.pug
    +room_info("insert_emoticon","Комфорт","Шумопоглощающие стены")
    +room_info("location_city","Удобство","Окно в каждой из спален")

    
    