@import "../../_variables";
@import "../../components/text_field/text_field";
@import "../../components/drop_guests/drop_guests";
@import "../../components/drop_comfort/drop_comfort";
@import "../../components/masked_text_field/masked_text_field";
@import "../../components/checkbox_buttons/checkbox_buttons";
@import "../../components/radio_buttons/radio_buttons";
@import "../../components/room_info/room_info";
@import "../../components/mixin_dropdown/mixin_dropdown";
@import "../../components/subscription_field/subscription_field";
@import "../../components/toggle/toggle";
@import "../../components/like_button/like_button";
@import "../../components/rate_button/rate_button";
@import "../../components/buttons/buttons";
@import "../../components/pagination/pagination";
@import "../../components/range_slider/range_slider";
@import "../../components/bullet_list/bullet_list";
@import "../../components/comments/comments";
@import "../../components/date_dropdown/date_dropdown";
@import "../../components/filter_date/filter_date";
@import "../../components/expandable_list/expandable_list";

.logo {
  margin-top: 30px;
  margin-left: 30px;
}

.group_elements {
  width: 1159px;
  margin-left: 140px;
  margin-top: 63px;
  background-color: rgb(203, 222, 233);
}