extends ../layout/base.pug

block variables
  -var title = "Form Elements"
  
block content
  include ../../components/logo/logo.pug
  .logo
    +logo()
  .group_elements
    include ../../components/text_field/text_field.pug
    //- br
    +text_field("Text Field", "text","", "This is pretty awesome")
    //- br
    //- br
    //- br
    //- br
    //- br
    //- br
    include ../../components/masked_text_field/masked_text_field.pug
    include ../../components/checkbox_buttons/checkbox_buttons.pug
    include ../../components/radio_buttons/radio_buttons.pug
    include ../../components/room_info/room_info.pug
    +room_info("insert_emoticon","Комфорт","Шумопоглощающие стены")
    +room_info("location_city","Удобство","Окно в каждой из спален")
    