@import "../../_variables";
@import "../../components/text_field/text_field";
@import "../../components/masked_text_field/masked_text_field";
@import "../../components/checkbox_buttons/checkbox_buttons";

//сделать в reset.css
body {
  margin: 0;
  padding: 0;
}

.logo {
  margin-top: 30px;
  margin-left: 30px;
}

.group_elements {
  width: 1159px;
  margin-left: 140px;
  margin-top: 63px;
  background-color: rgb(203, 222, 233);
}