include ../../components/mixin_dropdown/mixin_dropdown.pug


+dropdown({label: "Dropdown", local: "guests", value: "Сколько гостей", item1: "Взрослые", item2: "Дети", item3: "Младенцы", buttons: true, clear: "Очистить", close: "Применить" })