//colors
$color-dark100: #1F2041;
$color-dark75: rgba(31, 32, 65, 0.75);
$color-dark50: rgba(31, 32, 65, 0.5);
$color-dark25: rgba(31, 32, 65, 0.25);
$color-dark5: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;
$primary-color: #BC9CFF;
$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

//default font html
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Conv_Montserrat-Regular', 'OpenSans', sans-serif;
  font-size: 14px;
  color: $color-dark75;
}

//заголовки(Quicksand-Bold, black, 24px)
@mixin title {
  font-family: 'Conv_Quicksand-Bold', 'OpenSans-Bold', sans-serif;
  font-size: 24px;
  color: $color-dark100;
}

//подпись к полям
@mixin caption {
  font-family: 'Conv_Montserrat-Bold', 'OpenSans-Bold', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-dark100;
}

//состояния default, hover, focus
@mixin state {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-dark50;
}

@mixin arrow {
  //стрелка для переиспользования? надо?
}