//colors
$color-dark100: #1F2041;
$color-dark75: rgba(31, 32, 65, 0.75);
$color-dark50: rgba(31, 32, 65, 0.5);
$color-dark25: rgba(31, 32, 65, 0.25);
$color-dark5: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;
$primary-color: #BC9CFF;
$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$primary-gradient25: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
$secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

//default font html
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Conv_Montserrat-Regular', 'OpenSans', sans-serif;
  font-size: 14px;
  color: $color-dark75;
}

//заголовки(Quicksand-Bold, black, 24px)
@mixin title {
  margin: 0;
  padding-bottom: 0.3rem;
  font-family: 'Conv_Quicksand-Bold', 'OpenSans-Bold', sans-serif;
  font-size: 24px;
  color: $color-dark100;
  line-height: 30px;
}

//подпись к полям
@mixin caption {
  font-family: 'Conv_Montserrat-Bold', 'OpenSans-Bold', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-dark100;
}

//поля
@mixin text_input {
  display: flex;
  width: 22.8rem;
  height: 3.2rem;
  margin-top: 0.3rem;
  background-color: #fff;
  border: 1px solid $color-dark25;
  box-sizing: border-box;
  border-radius: 0.29rem;
  color: $color-dark75;
  font-family: 'Conv_Montserrat-Regular', 'OpenSans', sans-serif;
  font-size: 1rem;
  padding-left: 1rem;
  position: relative;

  &-medium {
    width: 19rem;
  }

  &-small {
    width: 10.7rem;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-dark50;
    color: $color-dark75;
  }
}

@mixin expand_more {
  color: $color-dark75;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z' fill='%231F2041' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
  background-position: 94% 50%;
  background-repeat: no-repeat;
}

//состояния default, hover, focus
@mixin state {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-dark50;
}

@mixin material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}

//отдельный класс для фона градиента иконок(ex, .material-icons_style)
@mixin icons_style {
  background: $primary-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27.14rem;
  padding: 2.75rem 2.1rem 2.1rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.26rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}