//-те значения, которые часто повторяются на проекте
//-colors
$color-dark100: #1F2041;
$color-dark75: rgba(31, 32, 65, 0.75);
$color-dark50: rgba(31, 32, 65, 0.5);
$color-dark25: rgba(31, 32, 65, 0.25);
$color-dark5: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;

//type
$font-family: 'Conv_Montserrat-Regular',
'OpenSans',
sans-serif;
$font-color: rgba(31, 32, 65, 0.75);
$font-size: 14px;
$font-height: 24px;

$h1-font-family: 'Conv_Quicksand-Bold',
'OpenSans-Bold',
sans-serif;
$h-font-color: #1F2041;
$h1-font-size: 24px;
$h1-font-height: 30px;

$h2-font-family: 'Conv_Quicksand-Bold',
'OpenSans-Bold',
sans-serif;
$h2-font-size: 19px;
$h1-font-height: 24px;

$h3-font-family: 'Conv_Montserrat-Bold',
'OpenSans-Bold',
sans-serif;
$h3-font-size: 12px;
$h3-font-height: 15px;
$h3-text-transform: uppercase;