//-У тебя сейчас есть Index.pug ты в него все компоненты подключаешь, предварительно разбив на блоки. У каждого блока свои стили, свои скрипты и свой pug файл - ты его подключаешь. 

//- include ./pages/colors_type/colors_type.pug
//- include ./pages/form_elements/form_elements.pug
include ./pages/cards/cards.pug
include ./pages/headers_footers/headers_footers.pug