//-colors&type
@mixin colors() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  width: 280px;

  &__square {
    height: 70px;
    width: 70px;
    border-radius: 6px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    line-height: 29px;
    font-family: 'Conv_Quicksand-Bold', 'OpenSans-Bold', sans-serif;
    font-style: normal;
    font-size: 19px;
    color: $color-dark100;

    &__hex {
      font-family: sans-serif;
    }
  }
}

@mixin type() {
  display: flex;
  width: 405px;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;


  &__tag {
    min-width: 36px;
    text-align: right;
    margin-right: 30px;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    color: rgba(31, 32, 65, 0.25);
  }
}