mixin checkbox_buttons(options)
  .checkbox_buttons
    span(class="checkbox_buttons__name")=options.title
    - for(let i = 0; i < options.num; i++)
      label(class="checkbox_buttons__label checkbox_buttons__label-"+options.style)
        input(class="checkbox_buttons__input" type="checkbox")
        | #{options.choice[i]}
        span(class="checkbox_buttons__box")
      - for(let n = 0; n < options.lehgth; n++)
        .checkbox_buttons__details
          | #{options.details[i]}

- var choice = [i];
- var details = [i];

//- +checkbox_buttons({title: "Rich checkbox buttons", num: '2', choice: ["Широкий коридор ","Помощник для инвалидов"], style: "caption", lehgth: '1', details: ["Ширина коридоров в номере не менее 91 см.", "На 1 этаже вас встретит специалист и проводит до номера."]})